{
    http_port 3000
    auto_https off
}

:3000 {
    handle_errors {
        respond "{http.error.status_code} {http.error.status_text}"
    }

    handle_path /static/* {
        root * ./thanatosns/staticfiles
        file_server
    }
    handle {
        reverse_proxy http://127.0.0.1:8000
    }
}

